.title {
    text-align: center;
}

.custom-table td {
    padding: 2px;
}

/* Prevent columns from overflowing on print */
/* @media print { */

    .columns {
        display: flex;
        justify-content: space-between; /* Keep columns close */
    }




/* } */